extends layout.pug
block content
  //- form(action='/hello', method='post')
  //-   label Please enter your name:
  //-     input(type='text', name='username')
  //-   button(type='submit') Submit

  section.namecard
    if name
      .namecard-hello
        p.namecard-greeting Hello, #{name}!

    else

      form.namecard-form(action='/hello', method='post')
        label.namecard-prompt
          | Please enter your name:
        input.namecard-name(type='text', name='username')
        button.namecard-submit(type='submit') Submit
