doctype html
html(lang="en")
  head
    title Flash Cards
  body
    .container
      header
        table
            each friend in friends
              tr
                th name
                td #{friend}
